<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Nexos | 写文章</title>
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
    <link rel="stylesheet" href="/static/css/amazeui.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/admin.css" type="text/css"/>
    <!--  MD  -->
<!--    <link rel="stylesheet" href="/editor/css/style.css" />-->
    <link rel="stylesheet" href="/static/editor/css/editormd.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.tagsinput.css" />
</head>

<body>

<script src="/static/editor/lib/jquery.min.js"></script>
<script src="/static/editor/editormd.min.js"></script>
<script src="/static/js/jquery.tagsinput.js"></script>



<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "98%",
            height  : 700,
            syncScrolling : "single",
            path    : "/static/lib/"
        });
    });
</script>

<div  th:replace="header :: header"></div>

<div class="am-cf admin-main" style="padding-top: 0">

    <!-- sidebar start -->
    <div th:replace="navigation :: navigation"></div>
    <!-- sidebar end -->
    <!-- content start -->
    <div class="admin-content">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">编辑</strong> / <small>新建文章</small>
            </div>
        </div>

        <form class="am-form" style="padding-left: 10px;width: 80%;">
            <legend>新增文章</legend>
            <div class="am-form-group">
                <label for="doc-ipt-email-1">文章标题</label>
                <input type="email" class="" id="doc-ipt-email-1" placeholder="请输入文章标题" width="300px">
            </div>

            <div class="am-form-group" >
                <label for="doc-select-1">类型</label>
                <select id="doc-select-1">
                    <option value="option1">技术</option>
                    <option value="option2">日常</option>
                    <option value="option3">其他</option>
                </select>
                <span class="am-form-caret"></span>
            </div>

            <div class="am-form-group" >
                <div style="margin-top: 10px">

                    <div style="float: left;height: auto;">
                        <div class="am-form-group" style="margin-right: 20px">
                            <label for="doc-ipt-image-2">文章图片</label>
                            <input type="file" id="doc-ipt-image-2">
                            <p class="am-form-help">请选择要上传的图片...</p>
                        </div>
                    </div>

                    <div style="float: right;height: auto;">
                        <div class="am-form-group" style="">
                            <label for="tags">标签</label>
<!--                            <textarea style="resize: none;width: 300px;" name="tags" id ="tags" class="" cols="24"  rows="1"></textarea>-->
                            <div name="tags" id ="tags"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-form-group" style="width: 300px;">
                <label for="doc-ipt-file-1">附件上传</label>
                <input type="file" id="doc-ipt-file-1">
                <p class="am-form-help">请选择要上传的附件...</p>
            </div>
        </form>

        <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
        <div id="test-editormd"></div>


        <div style="text-align: center">
            <span>
                <button onclick="commit()" type="button" class="am-btn am-btn-primary" style="margin-bottom: 20px;padding-right: 20px">提交</button>
                <button onclick="save()" type="button" class="am-btn am-btn-success" style="margin-bottom: 20px;padding-right: 20px">保存</button>
                <button onclick="previewer()" type="button" class="am-btn am-btn-warning" style="margin-bottom: 20px;">预览</button>
            </span>
        </div>

    </div>
</div>
    <!-- content end -->
<script type="text/javascript">

    // function commit(){
    //     var title =
    // }

    $(function() {
        $('#tags').tagsInput({
            width:'300px',
            onAddTag: callback_function

        });
        //初始化赋值
        // $('#tags').importTags('标签');
        $("#getInputValue").click(function(){
            var tags_value = $("#tags").val();
            console.log(tags_value);
        });
    });

</script>

<div th:replace="footer :: footer"></div>

</body>

</html>