<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!--所有页面共有头部-->
    <div th:fragment="header">
        <div class="header">
            <div class="am-topbar" style="margin-bottom: 0">
                <h1 class="am-topbar-brand">
                    <a href="admin" class="blogTitleName">Nexos 仪表盘</a>
                </h1>

                <!--手机适配导航显示按钮-->
                <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" style="background-color: #CCCCCC;border-color: white;border-radius: 6px" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

                <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
<!--                    <ul class="am-nav am-nav-pills am-topbar-nav">-->
<!--                        <li><a class="top_bar" href="/" style="cursor: pointer;"><span class="am-icon-home"></span>&nbsp;首页</a></li>-->
<!--                        <li><a class="top_bar" href="/categories" style="cursor: pointer;"><span class="am-icon-th"></span>&nbsp;分类</a></li>-->
<!--                        <li><a class="top_bar" href="/archives" style="cursor: pointer;"><span class="am-icon-archive"></span>&nbsp;归档</a></li>-->
<!--                        <li><a class="top_bar" href="/tags" style="cursor: pointer;"><span class="am-icon-tags"></span>&nbsp;标签</a></li>-->
<!--                        <li><a class="top_bar" href="/aboutme" style="cursor: pointer;"><span class="am-icon-user"></span>&nbsp;关于我</a> </li>-->
<!--                    </ul>-->


                    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                        <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
                        <li class="am-dropdown" data-am-dropdown>
                            <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                                <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                            </a>
                            <ul class="am-dropdown-content">
                                <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                                <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                                <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> 开启全屏</a></li>
                    </ul>

                    <div class="am-topbar-right writing am-hide-md-down">
<!--                        <a  href="editor" target="_blank" style="text-decoration: none">-->
                            <img class="am-circle" width="100%" height="400px%" src="/static/img/header_bg.jpg">
<!--                        </a>-->
                    </div>

                </div>
            </div>
        </div>
    </div>

</html>