<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="admin-sidebar" th:fragment="navigation">
    <ul class="am-list admin-sidebar-list">
        <li><a href="admin"><span class="am-icon-home"></span> 首页</a></li>
        <li><a href="editor"><span class="am-icon-edit"></span> 写文章</a></li>
        <li><a href="admin-table.html"><span class="am-icon-book"></span> 文章管理 </a></li>
        <li><a href="admin-form.html"><span class="am-icon-archive"></span> 归档</a></li>
        <li><a href="#"><span class="am-icon-pie-chart"></span> 数据统计</a></li>
        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-cog"></span> 系统管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
            <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 的</a></li>
                <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
                <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
                <li><a href="error/404.html"><span class="am-icon-bug"></span> 404</a></li>
                <li><a href="error/500.html"><span class="am-icon-bug"></span> 500</a></li>
            </ul>
        </li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
            <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>时光静好，与君语；细水流年，与君同。—— Nexos</p>
        </div>
    </div>

    <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
            <p><span class="am-icon-tag"></span> wiki</p>
            <p>Welcome to the Nexos管理系统!</p>
        </div>
    </div>
    <script src="/static/js/zepto.min.js"></script>
    <script src="/static/js/amazeui.min.js"></script>
    <script src="/static/js/app.js"></script>
</div>

</body>
</html>